.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.nameBlock {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;

  h2 {
    margin: 0;
  }
}

.email {
  margin-bottom: 13px;
  color: var(--color-dark-100);
}

.iconAndName {
  cursor: pointer;
  display: flex;
}
