.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.nameBlock {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;

  h2 {
    margin: 0;
  }
}

.email {
  margin-bottom: 13px;
  color: var(--color-dark-100);
}

.iconAndName {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 9px;

  :hover {
    transition: 0.5s;
    color: #4C4C4C;
  }
}
.text {
  color: var(--light-100, #FFF);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px; /* 180% */
}
.icon {
  width: 16px;
  height: 16px;
}
