@mixin circle($backgroundColor) {
  content: '';

  position: absolute;
  z-index: -1;

  display: flex;

  width: 36px;
  height: 36px;

  background-color: $backgroundColor;
  border-radius: 50%;
}

.wrapper {
  cursor: pointer;

  display: flex;
  gap: 11px;
  align-items: center;
  padding: 6px 0;

  width: fit-content;
  color: var(--color-light-100);
  box-sizing: border-box;
}

.checkboxRoot {
 all: revert;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  border: 2px solid var(--color-light-100);
  border-radius: 2px;

  transition: 0.5s;

  &:hover::before {
    @include circle(var(--color-dark-500));
    background-color: var(--color-dark-100);
    transition: 0.5s;
  }

  &:active::before {
    @include circle(var(--color-dark-100));
  }

  &:focus-visible {
    outline: none;
  }

  &:focus-visible::before {
    @include circle(var(--color-dark-100));
  }

  &:disabled {
    border-color: var(--color-dark-100);
  }
}

.uncheck {
  background-color: black;
  border-color: var(--color-light-900);
}
.label {
  cursor: pointer;
}





