.body {
  padding-top: 36px;
}

.body__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  margin-top: 130px;
}

.text {
  margin-top: 30px;
}

.btn {
  margin-top: 30px;
}
