.learnCard {
  padding-top: 24px;
}

.learnCard__box {
  display: flex;
  flex-direction: column;
  gap: 36px;
}


//card
.contentLearn {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  gap: 40px;

  width: 100%;
  max-width: 420px;
  padding: 33px 36px 48px;

  filter: drop-shadow(-1px -1px 2px rgb(0 0 0 / 10%)) drop-shadow(1px 1px 2px rgb(0 0 0 / 10%));

  fill: var(--dark-700, #171717);
  stroke: #313131;
  stroke-width: 1px;
}

.contentLearnTitle {
  font-size: 26px;
  font-weight: var(--font-weight-bold);
  line-height: 36px;
  align-self: center;
}

.contentLearnTextOne {
  width: 100%;
  line-height: 24px;
  color: var(--light-100, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

.contentQuestion {
  color: var(--light-100, #FFF);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  align-self: flex-start;

}

.contentLearnTextTwo {
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-100, #808080);

  span {
    font-weight: 700;
  }
}

.questionAndImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgQuestion {
  max-width: 170px;
  max-height: 100px;
}

.headerError {
  margin: 0 auto;
}

.radioButtonModule {
  margin-bottom: 20px;
}
.contentBtns {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}