.cards {
  padding-top: 24px;
}

.cards__container {
  display: flex;
  flex-direction: column;
}

.questionAndImg {
  display: flex;
  align-items: center;
}

.img {
  max-width: 150px;
  max-height: 50px;
  margin-right: 10px;
}
