* {
  text-decoration: none;
  color: inherit;
}

.cards {
  padding-top: 24px;
}

.cards__container {
  display: flex;
  flex-direction: column;
}

.questionAndImg {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: #4c4c4c;
    transition: all 0.4s;
  }
}

.img {
  max-width: 150px;
  max-height: 50px;
  margin-right: 10px;
}

.dropdownMenuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  &:hover {
    transition: 0.4s;
    color: #4c4c4c;
  }
}

.icons {
  width: 16px;
  height: 16px;
}
