:root {
  --font-family-primary: 'Roboto', sans-serif;

  // line heights
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

  // font sizes
  --font-size-xs: 0.75rem; //12
  --font-size-s: 0.875rem; //14
  --font-size-m: 1rem; //16
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.625rem; //26

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
