.label {
  color: var(--color-dark-300);
}

.defaultInput {
  background-color: transparent;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid var(--color-dark-300);
  color: var(--color-dark-300);
  padding: 6px 12px;
}

.defaultInput:active {
  border: 1px solid var(--color-light-100);
  color: var(--color-light-100);
}

.errorInput {
  border: 1px solid var(--color-danger-300);
  color: var(--color-danger-300);
}

.errorText {
  color: var(--color-danger-300);
  font-size: 0.75rem;
}

.defaultInput:hover {
  color: var(--color-dark-100);
  border: 1px solid var(--color-dark-100);
  background: var(--color-dark-700);
}

.defaultInput:focus {
  outline: 2px solid var(--color-info-700);
}

.defaultInput:disabled {
  color: var(--color-dark-300);
  border: 1px solid var(--color-dark-300);
}

.wrapper {
  display: inline;
  position: relative;
}
.searchIcon {
  //cursor: pointer;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 28px;
  left: 4px;
}
.crossIcon {
  cursor: pointer;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 28px;
  right: 4px;
}
.searchInput {
  padding-left: 30px;
  padding-right: 30px;
}

.eyesIcon {
  cursor: pointer;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 28px;
  right: 16px;
}
