.inputContainer {
  position: relative;
}

.label {
  color: var(--color-dark-300);
}

.defaultInput {
  box-sizing: border-box;
  width: 100%;
  padding: 6px 35px 6px 12px;

  color: var(--color-light-100);
  text-decoration: none;

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  transition: all 0.3s ease 0s;

  &::placeholder {
    color: var(--color-dark-300);
  }

  &:hover {
    color: var(--color-dark-100);
    background: var(--color-dark-700);
    border: 1px solid var(--color-dark-100);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-dark-300);
    border: 1px solid var(--color-dark-300);
  }
}

.errorInput {
  color: var(--color-danger-300);
  border: 1px solid var(--color-danger-300);
}

.wrapper {
  position: relative;
}

.searchIcon {
  cursor: pointer;

  position: absolute;
  top: 45%;
  left: 5px;
  transform: translateY(-55%);

  width: 20px;
  height: 20px;
  color: #4c4c4c;
  &:active {
    color: #fff;
  }
}

.crossIcon {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-60%);

  width: 1.25rem;
  height: 1.25rem;
}

.searchInput {
  padding-right: 30px;
  padding-left: 30px;
}

.eyesIcon {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 20px;

  width: 10px;
  height: 10px;
  color: #4c4c4c;
}

.errorText {
  position: absolute;
  bottom: -22px;
  left: 0;

  font-size: 0.75rem;
  color: var(--color-danger-300);
}

.iconFocused {
  color: var(--color-light-100, #fff);
}
