@import '../../../../node_modules/@radix-ui/colors/black-alpha.css';
@import '../../../../node_modules/@radix-ui/colors/mauve.css';
@import '../../../../node_modules/@radix-ui/colors/violet.css';

* {
  text-decoration: none;
}

.trigger {
  cursor: pointer;

  position: relative;

  display: flex;
  gap: 14px;
  align-items: center;

  margin: 0;
  padding: 0;

  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.dropdownMenuContent {
  position: relative;
  top: 6px;
  right: calc(10% + 15px);

  margin: 0.5rem;
  padding: 0.75rem;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;

  &::after {
    content: '';

    position: absolute;
    top: -9px;
    right: 10px;
    transform: rotate(45deg);

    width: 16px;
    height: 16px;

    background: var(--color-dark-700);
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }
}

.dropdownMenuItem {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  outline: none;
}

.dropdownMenuLabel {
  padding-left: 25px;
  font-size: 12px;
  line-height: 25px;
}

.dropdownMenuSeparator {
  height: 0.115rem;
  margin: 0.75rem 0;
  background-color: var(--color-dark-500);
}

.dropdownMenuItemIndicator {
  position: absolute;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
}

.iconButton {
  width: 35px;
  height: 35px;
  margin-left: 300px;
  border-radius: 100%;
}

.photoAndEmail {
  display: flex;
  align-items: center;
  justify-content: flex-start;


  width: 13.5rem;
  margin-bottom: 0.75rem;
}

.dropdownMenuItem_img {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.5rem;

  object-fit: cover;
  border-radius: 100%;
}

.userEmail {
  color: var(--color-dark-100);

}

.item_title {
  margin-left: 0.4rem;
}

.icons {
  width: 10px;
  height: 10px;
  margin-right: 0.4rem;
  fill: var(--color-white-100);
}

.header__userName {
  border-bottom: 1px dashed var(--color-light-100);
}

.userPhoto {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.item {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;

  :hover {
    transition: 0.4s;
    color: #4C4C4C;
  }
}
.icon {
  width: 16px;
  height: 16px;
}

.text {
  color: var(--light-100, #FFF);
  font-size: 12px;
  line-height: 16px;
}