@import '../../../../node_modules/@radix-ui/colors/black-alpha.css';
@import '../../../../node_modules/@radix-ui/colors/mauve.css';
@import '../../../../node_modules/@radix-ui/colors/violet.css';

/* reset */
button {
  all: unset;
}

.root {
  position: relative;
}

.trigger {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.dropdownMenuContent {
  position: fixed;
  top: 6px;

  margin: 0.5rem;
  padding: 0.75rem;

  background: var(--color-dark-700);
  border: 0.25rem solid var(--color-dark-500);
  border-radius: 0.25rem;

  &::after {
    content: '';

    position: absolute;
    top: -10px;
    right: 10px;
    transform: rotate(45deg);

    width: 16px;
    height: 16px;

    background: var(--color-dark-700);
    border-top: 0.25rem solid #333;
    border-left: 0.25rem solid #333;
  }
}

.dropdownMenuItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: none;
}

.dropdownMenuLabel {
  padding-left: 25px;
  font-size: 12px;
  line-height: 25px;
}

.dropdownMenuSeparator {
  height: 0.115rem;
  margin: 0.75rem 0;
  background-color: var(--color-dark-500);
}

.dropdownMenuItemIndicator {
  position: absolute;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
}

.iconButton {
  width: 35px;
  height: 35px;
  margin-left: 300px;
  border-radius: 100%;
}

.photoAndEmail {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 13.5rem;
  margin-bottom: 0.75rem;
}

.dropdownMenuItem_img {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.5rem;
  border-radius: 100%;
}

.userEmail {
  color: var(--color-dark-100);
}

.item_title {
  margin-left: 0.4rem;
}

.icons {
  width: 16px;
  height: 16px;
  margin-right: 0.4rem;
  fill: var(--color-white-100);
}

.header__userName {
  border-bottom: 1px dashed var(--color-light-100);
}

.userPhoto {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
