.deck {
  padding-top: 33px;
}
.deck__box {

}
.deck__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
}
.deck__title {
  font-size: var(--font-size-xxl);

  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
}
.deck__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  gap: 20px;
}

.deck__table{
  margin-bottom: 30px;
}