.container {
  width: 100%;
  max-width: 420px;
  padding: 33px 36px;
}

.form {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
}

.title {
  margin-bottom: 27px;
  text-align: center;
  text-transform: capitalize;
}

.text {
  color: var(--color-light-900);
  text-align: center;
}

.signIn {
  display: flex;
  justify-content: center;
  cursor: pointer;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
  text-decoration-color: var(--color-accent-500);
  &:hover {
    color: #4c4c4c;
    transition: all 0.3s;
  }
}

.footer {
  display: flex;
  gap: 11px;
  flex-direction: column;
}
