.large {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  line-height: 2.25rem;
  color: var(--color-light-100);
}

.h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: 2.25rem;
  color: var(--color-light-100);
}

.h2 {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: 1.5rem;
  color: var(--color-light-100);
}

.h3 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 1.5rem;
  color: var(--color-light-100);
}

.body1 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: 1.5rem;
  color: var(--color-light-100);
}

.subtitle1 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 1.5rem;
  color: var(--color-light-100);
}

.body2 {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: 1.5rem;
  color: var(--color-light-100);
}

.subtitle2 {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: 1.5rem;
  color: var(--color-light-100);
}

.caption {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  line-height: 1rem;
  color: var(--color-light-100);
}

.overline {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  line-height: 1rem;
  color: var(--color-light-100);
}

.link1,
.link1:link,
.link1:visited {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: 1.5rem;
  color: var(--color-info-500);
}

.link2,
.link2:link,
.link2:visited {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: 1rem;
  color: var(--color-info-500);
}
