.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3.75em;
  padding: 0.75rem 8.5rem;

  background: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);
}

.userInfo {
  display: flex;
  align-items: center;
}

.userInfo_img {
  min-width: 36px;
  height: 36px;
  padding-left: 0.88rem;
}
