.header {
  display: flex;
  justify-content: space-between;

  height: 3.75em;
  padding: 0.75rem 8.5rem;

  background: var(--dark-700, #171717);
  border-bottom: 1px solid var(--dark-500, #333);
}
