.container {
  width: 100%;
  max-width: 420px;
  padding: 33px 36px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 19px;

  width: 100%;

}



.title {
  margin-bottom: 51px;
  text-align: center;
  text-transform: capitalize;
}

.infoText {
  opacity: .5;
  margin-bottom: 40px;
  color: var(--color-light-900)
}

.text {
  color: var(--color-light-900);
  text-align: center;
}
