button,
fieldset,
input {
  all: unset;
}

.tabsRoot {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.tabsList {
  display: flex;
}

.tabsTrigger {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  padding: 0 24px;

  font-family: Roboto, sans-serif;
  color: var(--color-light-100, #fff);

  background-color: transparent;
  border-top: 1px solid var(--color-dark-300, #4c4c4c);
  border-right: 1px solid var(--color-dark-300, #4c4c4c);
  border-bottom: 1px solid var(--color-dark-300, #4c4c4c);
  border-radius: 2px 0 0 2px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:first-child {
    border-left: 1px solid var(--color-dark-300, #4c4c4c);
    border-radius: 2px 0 0 2px;
  }

  &:last-child {
    border-radius: 0 2px 2px 0;
  }

  &:active {
    background: var(--color-primary-500, #8c61ff);
    border: 1px solid var(--color-primary-500, #8c61ff);
  }

  &:hover {
    background: var(--color-dark-300, #4c4c4c);
    border: 1px solid var(--color-dark-100, #808080);
    border-radius: 2px;
  }

  &[data-disabled] {
    color: var(--color-dark-300, #4c4c4c);
    background: var(--color-dark-700, #171717);
    border: 1px solid var(--color-dark-300, #4c4c4c);
    border-radius: 2px;
  }
}

.active {
  background: var(--color-primary-500, #8c61ff);
  border: 1px solid var(--color-primary-500, #8c61ff);
}
